.nearestItems {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.firstRow {
  display: flex;
  justify-content: space-between;
}
.boostButton {
  height: 40px;
  border: 1px solid var(--main_color);
  padding: 0 1rem;
  letter-spacing: 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main_color);
  color: white;
}
.nearestItems_header {
  font-size: 22px;
  font-weight: 600;
  color: var(--main_color);
}
.productWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.productWrapper > * {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
}
.productWrapper::-webkit-scrollbar {
  display: none;
}
.rightButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: white;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10; /* Ensure the button is above other content */
}

.rightButton:hover {
  background: var(--main_color);
  color: white;
}
