# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
env/
venv/
ENV/
.venv/

# Pytest
.cache/

# IDE folders
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# NLTK data
# nltk_data/

# Misc
.DS_Store
*.log
