.productItem {
  width: 230px;
  height: 260px;
  border: 1px solid var(--border_color);
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  padding: 0.5rem;
}
.imgWrapper {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.line {
  margin-top: 0.5rem;
}
.productInfo {
  /* background-color: blue; */
  height: 110px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 10px;
}
.name {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.condition {
  font-size: small;
}
.productPrice {
  margin-top: 5px;
  color: var(--main_color);
  font-weight: bold;
  font-size: large;
}
.productItemWrapper {
  display: flex;
  flex-direction: column;
}
.ccontainer {
  background-color: white;
  display: flex;
  padding: 0.5rem 2rem;
  /* font-size: larger; */
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border_color);
  border-radius: 3px;
  /* border-top: 2px dashed var(--border_color); */
  border-top: 1px dashed black;
}
.checkbox {
  width: 2rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
